.reviews-box-container{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:40rem;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
}

.username{
    display: flex;
    flex-direction: column;
}

.username strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.username span{
    color: #979797;
    font-size: 0.8rem;
}
.review-stars {
    color: #f9d71c;
}

.profile{
    display: flex;
    align-items: center;
}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}