.reviews-box-container{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:60rem;
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
}

@media all and (max-width: 1200px) {
    .reviews-box-container{
        width: 40rem;
    }
}

@media all and (max-width: 800px) {
    .reviews-box-container{
        width: 20rem;
    }
}

.username{
    display: flex;
    flex-direction: column;
}

.username strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.username span{
    color: #979797;
    font-size: 0.8rem;
}
.review-stars {
    color: #f9d71c;
}

.profile{
    display: flex;
    align-items: center;
}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}