.reviews-container{
    background: #fff;
    padding: 2rem;
    min-height: 100vh;
    padding-top: 5rem;
}

.reviews-heading{
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviews-text {
    margin-bottom: 30px;
}
